/* Footer Styles */
/* src/Footer.css */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-section {
    margin: 10px 0;
    text-align: center;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #bbbbbb;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.newsletter button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #21a1f1;
}

footer {
    background-color: #444444;
    color: #f7f5df;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.footer-section p,
.footer-section a,
.footer-section li {
    color: #f7f5df;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #ddd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #dec5c5;
    border-top: 1px solid #555;
    margin-top: 40px;
}

.footer-section.slogan {
    text-align: center;
    flex-basis: 100%;

}

.footer-section .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section .newsletter input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}

.footer-section .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #923915ad;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-section .newsletter button:hover {
    background-color: #a86c44ee;
}

